<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h2>Users Table</h2>
<table th:style="'border: 1px solid black; border-collapse: collapse; margin: 2px;'">
    <thead>
    <tr th:style="'font-weight: bold; text-align: center;'">
        <td th:style="'border: 1px solid black; padding: 5px;'">Id</td>
        <td th:style="'border: 1px solid black; padding: 5px;'">Name</td>
        <td th:style="'border: 1px solid black; padding: 5px;'">Lastname</td>
        <td th:style="'border: 1px solid black; padding: 5px;'">Age</td>
        <td th:style="'border: 1px solid black; padding: 5px;'">Edit</td>
        <td th:style="'border: 1px solid black; padding: 5px;'">Delete</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u : ${users}">
        <td th:style="'border: 1px solid black; padding: 5px;'" th:text="${u.getId()}"></td>
        <td th:style="'border: 1px solid black; padding: 5px;'" th:text="${u.getName()}"></td>
        <td th:style="'border: 1px solid black; padding: 5px;'" th:text="${u.getLastName()}"></td>
        <td th:style="'border: 1px solid black; padding: 5px;'" th:text="${u.getAge()}"></td>
        <td th:style="'border: 1px solid black; padding: 5px;'">
            <form th:action="@{'edit/' + ${u.getId}}">
                <input type="submit" title="Edit" value="Edit"/>
            </form>
        </td>
        <td th:style="'text-align: center; border: 1px solid black;'">
            <form th:method="DELETE" th:action="@{/delete/{id}(id=${u.getId()})}">
                <input type="submit" title="Del" value="&#x1F5F6"/>
            </form>
        </td>
        <td>
    </tr>
    <tr>
        <td colspan="6" th:style="'text-align: center; padding: 5px;'">
            <form th:action="@{'/new'}">
                <input type="submit" title="Add" value="Add new user">
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>